
.cta-section-container {
    position: relative;
    background-image: url('../images/cta-background.png');
    background-size: 300% 100%;
    background-position: -16px;
    max-width: 100%;
    width: 358px;
    overflow: hidden;
    min-height: 40rem;

    border-radius: 12px 0 0 16px;

    @media (min-width: 78em) {
        width: 100%;
        border-radius: 16px;
        background-size: 102% 102%;
        background-position: center;
    }

    .cta-section {
        left: 50%;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
        z-index: 100;
        text-wrap: wrap;

        width: 320px;

        @media (min-width: 78em) {
            width: max-content;
        }

        h2 {
            background: linear-gradient(180deg, #fff 22.5%, #ffffffb3);
            background-clip: text;
            color: transparent;
            -webkit-text-fill-color: transparent;
            margin-bottom: 16px;
            font-size: 36px;
            line-height: 44px;

            width: 320px;

            @media (min-width: 78em) {
                font-size: 56px;
                line-height: 64px;
                width: max-content;
            }
        }

        img {
            width: 96px;
            height: 96px;
            @media (min-width: 78em) {
                width: 8rem;
                height: 8rem;
            }
        }

        p:first-of-type {
            margin: 0 auto 24px;
            width: 230px;
            color: #9b96b0;
            font-size: 14px;
            line-height: 24px;
            @media (min-width: 78em) {
              font-size: 20px;
              font-weight: 400;
              letter-spacing: -.01em;
              line-height: 28px;
              width: max-content;
            }
          }

        p:last-of-type {
            font-size: 12px;
            @media (min-width: 78rem) {
                font-size: 14px;
            }
        }

        .domain-form {
            isolation: isolate;
            overflow: hidden;
            border-radius: 999px;
            display: inline-block;
            position: relative;

            #cta-text-input {
                color: #fff;
                backdrop-filter: blur(4px);
                isolation: isolate;
                overflow: hidden;
                border-radius: 999px;
                display: inline-block;
                background-color: transparent;
                border: 1px solid rgba(255, 255, 255, .1);
                font-family: inherit;
                line-height: 1.15;
                margin: 0;
                padding: 1rem;
                position: relative;
                z-index: 1;
                width: 308px;

                &:focus {
                    outline: none;
                }

                @media (min-width: 78em) {
                    width: 351px;
                }
            }
            
            #cta-button-input {
                background: #0b0119;
                border: 1px solid rgba(255, 255, 255, .1);
                border-radius: 999px;
                cursor: pointer;
                padding: 7px 24px;
                color: #948ba5;
                backdrop-filter: blur(4px);
                position: absolute !important;
                right: 4px;
                top: 4px;
                z-index: 4;

                height: 85%;
                transition: all .4s ease;
            
                &:hover {
                    background: linear-gradient(#0f051e, #2a2038);
                }
            }
        }
    }
}