@use 'magical-borders';

// --------------------------------------------------------------------------------------------------------
// default

@font-face {
  font-family: 'Lato';
  src: url("Lato/Lato-Regular.ttf");
  font-weight: 500;
}

@font-face {
  font-family: 'Lato';
  src: url("Lato/Lato-Black.ttf");
  font-weight: 800;
}
@font-face {
  font-family: 'Lato';
  src: url("Lato/Lato-Bold.ttf");
  font-weight: 700;
}

html {
  scroll-behaviour: smooth;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #0a0118;
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-family: 'Lato', sans-serif;
  margin: 0;

  &, a {
    color: #e4e4e4;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  h1, h2, h3, h4, h5, h6 {}
  h1 {
    line-height: 28px;
    font-size: 24px;
    margin: 0;
    font-weight: 800;
  }
  h2 {
    font-size: 24px;
    margin-bottom: 1rem;
    border-bottom: 1px solid white;
    line-height: 4rem;
    font-weight: 800;
  }
  h3 {
    line-height: 24px;
    font-size: 20px;
    margin-bottom: 1rem;
    font-weight: 700;
  }
  h4 {}
  h5 {}
  h6 {}
  p {
    font-weight: 300;
  }

  button {
    padding: .5rem 2rem;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    &#start {
      background: green;
      &:hover {
        background: #8ce800;
      }
    }
    &#stop {
      background: red;
      &:hover {
        background: orangered;
      }
    }
  }


  // --------------------------------------------------------------------------------------------------------
  // removal
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}


// --------------------------------------------------------------------------------------------------------
// list-style
.disc {
  list-style: disc;
}

// --------------------------------------------------------------------------------------------------------
// single property classes

// ----------- border radius -----------
.br-4 {
  border-radius: 4px;
}

// ----------- position -----------
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}

// ----------- flex -----------
.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.grow-1 {
  flex-grow: 1;
}

.wrap {
  flex-wrap: wrap;
}

.no-wrap {
  flex-wrap: nowrap;
}

// ----------- text-align -----------
.text-center {
  text-align: center;
}

// ----------- align-items -----------
.items-center {
  align-items: center;
}
.items-start {
  align-items: start;
}
.items-end {
  align-items: end;
}

// ----------- justify-content -----------
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: start;
}
.justify-end {
  justify-content: end;
}
.justify-between {
  justify-content: space-between;
}

// ----------- justify-content -----------
.gap-half {
  gap: 0.5rem;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
.gap-3 {
  gap: 3rem;
}
.gap-4 {
  gap: 4rem;
}
.gap-5 {
  gap: 5rem;
}

// --------------------------------------------------------------------------------------------------------
// custom class/id

// ----------- map -----------
#map, .map {
  width: 100%;
  height: 300px;
}

#thanks {
  height: 55px;

  &:before {
    content: "Try opening it on your mobile to reach the target location!"
  }

  &:hover {
    &:before {
      content: "...or bring your laptop outside?";
    }
  }
}

// ----------- content-card -----------
.content-card {
  width: 100%;
  height: 3875px;

  .card-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0 2rem;
  }
}

// ----------- alert -----------
#alert {
  height: 50px;
  width: 100%;
  background-color: red;
  font-size: 0.9rem;
}
.alert-container {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  opacity: .8;
}

// ----------- code example -----------
.example {
  background: #222;
  padding: 1rem;
  overflow: auto;
  height: max-content;
  margin-bottom: 2rem;

  .indent {
    margin-left: 1rem;
  }
  .red {
    background: red;
  }
  .green {
    background: green;
  }
  .yellow {
    background: yellow;
  }
  .orange {
    background: orange;
  }
}

// --------------------------------------------------------------------------------------------------------
// media
main,
header,
footer {
  width: 20.625rem;
}
header {
  height: max-content;
  padding: 2rem 0 1rem 0;
}
footer {
  margin-bottom: 1rem;
}

.display-sm {
  display: none;
}

@media (min-width: 50em) {
  #thanks {
    height: 22.5px;
  }
  #alert {
    font-size: inherit;
  }
  .example {
    margin-bottom: 0
  }
  .content-card {
    height: 2235px;
  }
  .display-sm {
    display: flex;
  }
  main, header, footer {
    width: 50rem;
  }
}

@media (min-width: 75em) {
}
