$font-stack: Helvetica, sans-serif;
$primary-color: #222;

body {

}


body {

  header {
    background: $font-stack;
  }

  nav {
    background: green;
  }
}

nav {
  ul {
    background: red
  }
}