
.data-percpective-section {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  background-image: url("images/tags-quick-action-grid.png");
}

.searchable-table {
  background-image: linear-gradient(#2a2038, #0f051e);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3d354c;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #3d354c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3d354c;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.search-bar {
  display: grid;
  grid-template-areas: '.search input plus tag arrow toggle dots .';
  margin: 1rem;

  .search-symbol {
    grid-area: search;
    margin: 0;
    width: clamp(.75rem, 1.25vw, 1.75rem);
  }

  .search-input {
    grid-area: input;
    background-color: #2a2038;
    margin: 0;

    input {
      background-color: #2a2038;
      color: #5b5b5c;
      border: none;
    }
  }

  .plus-symbol {
    grid-area: plus;
  }

  .search-text {
    display: inline;
    margin: 0;
    grid-area: tag;
  }

  .arrow-symbol {
    grid-area: arrow;
  }

  .switch {
    grid-area: toggle;
    display: flex;
    flex-direction: row;

    p {
      display: inline;
      padding-left: 4rem;
      margin: 0;
    }
  }

  .dots-symbol {
    grid-area: dots;
  }
}

.search-table {
  color: #727272;
  border-collapse: collapse;
  overflow: auto;
  display: block;
  height: 30rem;
  scrollbar-width: none;

  tr {
    height: 2rem;

    @media (min-width: 75rem) {
      height: 4rem;

      .check-button {
        border-radius: 50%
      }
    }
  }

  thead {
    background-color: #281e39;
  }

  .second-table-head {
    width: 80%;

    th {
      width: 80%;
    }
  }

  .hidden {
    display: none;
  }

  p {
    display: inline;
    margin: .5rem;
  }

  .tag {
    border: 1px solid #727272;
    margin: .75rem;
  }

  tr {

    .first-column {
      display: grid;
      grid-template-areas: 'arrow checkbox tag name';
      padding: .5rem;
      justify-content: left;
      align-items: center;
      height: max-content;

      .hidden {
        display: none;
      }

      .arrow-container {
        grid-area: arrow;
      }
      
      .table-checkbox {
        grid-area: checkbox;
      }

      p {
        grid-area: name;
      }
      
      .tag {
        grid-area: tag;
      }
    }

    .table-checkbox {
      display: inline;

      .table-checkbox-inner {
        align-items: center;
        background-color: #ffffff0a;
        border: 1px solid rgba(255, 255, 255, .12);
        border-radius: 50%;
        display: flex;
        height: 2rem;
        justify-content: center;
        transition: .45s cubic-bezier(.6,.6,0,1) background-color, .45s cubic-bezier(.6,.6,0,1) border-color;
        width: 2rem;
      }

      .table-checkbox-mark {
        background-color: #713dff;
        border-radius: 999px;
        height: 1rem;
        opacity: 0;
        transition: .45s cubic-bezier(.6,.6,0,1) opacity, .45s cubic-bezier(.6,.6,0,1) height;
        width: 1rem;
      }
    }

    .table-checkbox-checked .table-checkbox-inner .table-checkbox-mark {
      opacity: 1;
    }

    &:hover {
      background-color: #281e39;
    }

    .hover-column-negative {
      background-color: #700009;
      color: #ad7a7e;
    }

    .hover-column-positive {
      background-color: #1a534d;
      color: #4ab8ad;
    }
  }
}

.tags-quick-action-footer {
  color: #727272;
  justify-content: right;

  * {
    display: inline;
    padding: 1rem;
  }
}

.search-table-wrapper {
  aspect-ratio: 12/ 6;
  min-height: 20rem;
}

.section-sub-header {
  background: none;
  border: none;
}

.panel-group-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 20rem;
}


.panel-group {
  max-width: 40%;
  min-height: 40%;
}

.space-div {
  width: 25px;
}