html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  user-select: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Rebond Grotesque";
  src: url("fonts/bold.woff2") format("woff2");
}
@font-face {
  font-family: "Inter V";
  src: url("fonts/medium.woff2") format("woff2");
  src: url("fonts/regular.woff2") format("woff2");
}
.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.move-down {
  animation: moveDown 400ms ease;
}

.move-up {
  animation: moveUp 400ms ease;
}

.move-up-back {
  animation: moveUpBack 400ms ease;
}

.move-down-back {
  animation: moveDownBack 400ms ease;
}

@keyframes moveDown {
  0% {
    opacity: 1;
    top: 80px;
  }
  100% {
    opacity: 0;
    top: 145px;
  }
}
@keyframes moveUp {
  0% {
    opacity: 0;
    top: -70px;
  }
  100% {
    opacity: 1;
    top: 20px;
  }
}
@keyframes moveUpBack {
  0% {
    opacity: 0;
    top: 145px;
  }
  100% {
    opacity: 1;
    top: 80px;
  }
}
@keyframes moveDownBack {
  0% {
    opacity: 1;
    top: 20px;
  }
  100% {
    opacity: 0;
    top: -70px;
  }
}
body {
  -webkit-font-smoothing: antialiased;
  font-family: "Inter V", sans-serif;
  background: #0a0118;
  color: #fff;
  font-size: 1rem;
  margin: 1rem;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Rebond Grotesque", sans-serif;
}

h2 {
  font-weight: 500;
  font-size: 2rem;
}

main, footer, header {
  width: 356px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cards-video {
  width: 670px;
}

.text-align-center {
  text-align: center;
}

.not-button {
  background: rgba(255, 255, 255, 0.0392156863);
  border: 1px solid rgba(255, 255, 255, 0.04);
  border-radius: 999px;
  margin: 0 auto 12px;
  padding: 4px 14px;
  width: max-content;
  font-size: 12px;
  text-transform: uppercase;
}

/*
    CARDS TITLE (below video of sphere)
*/
#cards-section-title:before {
  content: "Spot issues ";
}

#cards-section-title {
  width: 270px;
}

#cards-section-title:after {
  content: " smart indicators";
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.cards .card-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 196px;
  margin: 0;
  padding: 16px 16px 24px;
}
.cards .card {
  text-align: left;
  height: 304px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}
.cards .content {
  padding: 0 32px 24px;
}
.cards .content .text, .cards .content .title {
  font-family: "Inter V", sans-serif;
  font-weight: 500;
  line-height: 24px;
}
.cards .content .title {
  margin-bottom: 8px;
  font-size: 18px;
}
.cards .content .text {
  color: #9b96b0;
  font-size: 14px;
}

#card-1 .titlee {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}
#card-1 .textt {
  font-size: 12px;
  line-height: 16px;
}
#card-1 .animation-1-popup:before {
  background: linear-gradient(180deg, rgba(169, 163, 194, 0.2), rgba(169, 163, 194, 0.0470588235)), linear-gradient(0deg, rgba(255, 255, 255, 0.0509803922), rgba(255, 255, 255, 0.0509803922));
  border-radius: 8px;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: xor;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 1px;
  pointer-events: none;
  position: absolute;
}
#card-1 #card-1-popup-1 {
  top: 80px;
}
#card-1 #card-1-popup-2 {
  top: -65px;
}
#card-1 .animation-1-popup {
  backdrop-filter: blur(6px);
  background: radial-gradient(66.08% 90.13% at 50% 97.37%, rgba(136, 125, 255, 0.1607843137), rgba(136, 125, 255, 0)), rgba(11, 2, 23, 0.2);
  border-radius: 8px;
  padding: 8px;
  position: absolute;
  width: 316px;
}
#card-1 .animation-1-popup div:first-of-type {
  margin-right: 8px;
}
#card-1 .season-top-bottom {
  top: -17px;
}

.magical-borders-inner {
  background-color: #0a0118;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  z-index: 2;
}

.magical-borders-content > * {
  background: linear-gradient(180deg, rgba(169, 163, 194, 0.2), rgba(169, 163, 194, 0.0470588235));
  border-radius: 16px;
  position: relative;
}

#card-1 .card-1-custom .example {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}
#card-1 .card-1-custom .title, #card-1 .card-1-custom .text {
  font-size: 12px;
}
#card-1 .card-1-custom .title {
  color: #d2d0dd;
  margin-right: 8px;
}
#card-1 .card-1-custom .text {
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.0196078431);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  color: #bab3ff;
  padding: 6px 8px;
}
#card-1 #card-1-popup-1, #card-1 #card-1-popup-2 {
  transition: 400ms ease;
}
#card-1 .season-dot {
  width: 18px;
  height: 18px;
  transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) transform, 1s cubic-bezier(0.6, 0.6, 0, 1) opacity !important;
}
#card-1 #season-dot-1 {
  left: 138px;
  top: 50px;
}
#card-1 #season-dot-2 {
  left: 168px;
  top: 59px;
}
#card-1 #season-dot-3 {
  left: 195px;
  top: 42px;
}

.card:hover #card-1-popup-1 {
  opacity: 0;
  transform: translateY(45px);
}

.card:hover #card-1-popup-2 {
  opacity: 1;
  top: 0;
  transform: translateY(85px);
}

.card:hover .season-dot {
  width: 26px;
  height: 26px;
}

.card:hover #season-dot-1 {
  transform: translate(-4px, 65px);
}

.card:hover #season-dot-2 {
  transform: translate(4px, 80px);
}

.card:hover #season-dot-3 {
  transform: translate(13px, 80px);
}

#chart-background {
  -webkit-transition: 400ms ease;
  width: 100%;
  height: 130px;
  object-position: left;
  object-fit: cover;
  left: 0;
  top: 50px;
  background-image: url("images/cards/card-seasonality-chart-border.png");
  background-position: 0;
  background-size: 670px 100%;
  background-repeat: no-repeat;
}

.card:hover #chart-background {
  object-position: -240px;
  object-fit: cover;
  left: 0;
  top: 50px;
  background-image: url("images/cards/card-seasonality-chart-border.png");
  background-position: -240px -30px;
  background-size: 670px 100%;
}

#card-2 .first-thing {
  background: rgba(11, 2, 23, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 99px;
  display: flex;
  left: 30px;
  padding: 8px 16px;
  top: 25px;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  color: #fff;
  position: absolute;
  transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) transform, 0.45s cubic-bezier(0.6, 0.6, 0, 1) opacity;
  z-index: 16;
}
#card-2 .first-thing .mobile, #card-2 .first-thing .desktop {
  font-feature-settings: "cv06" on, "calt" off, "liga" off;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 16px;
}
#card-2 .first-thing .mobile::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: greenyellow;
  display: inline-block;
  margin-bottom: 0.1rem;
  margin-left: 0.5rem;
  margin-right: 0.25rem;
}
#card-2 .first-thing .desktop::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: blue;
  display: inline-block;
  margin-bottom: 0.1rem;
  margin-right: 0.25rem;
}
#card-2 .second-thing:before {
  background: linear-gradient(180deg, rgba(169, 163, 194, 0.2), rgba(169, 163, 194, 0.0470588235)), linear-gradient(0deg, rgba(255, 255, 255, 0.0509803922), rgba(255, 255, 255, 0.0509803922));
  border-radius: 8px;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: xor;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 1px;
  pointer-events: none;
  position: absolute;
}
#card-2 .second-thing {
  left: 118px;
  position: absolute;
  top: 28px;
  opacity: 0;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  background: radial-gradient(66.08% 90.13% at 50% 97.37%, rgba(136, 125, 255, 0.1607843137), rgba(136, 125, 255, 0)), rgba(11, 2, 23, 0.1019607843);
  border-radius: 8px;
  color: #fff;
  padding: 8px;
  transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) transform, 0.45s cubic-bezier(0.6, 0.6, 0, 1) opacity;
  width: 254px;
}
#card-2 .second-thing .title {
  font-feature-settings: "cv06" on, "calt" off, "liga" off;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 24px;
}
#card-2 .second-thing .text {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 16px;
  color: #817b8e;
  margin-bottom: 8px;
  margin-top: 5px;
}
#card-2 .second-thing .footer {
  align-items: center;
  background: rgba(255, 255, 255, 0.0509803922);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  padding: 4px;
  width: 100%;
  font-size: 12px;
  font-feature-settings: "cv06" on, "calt" off, "liga" off;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 16px;
  color: #817b8e;
}
#card-2 .second-thing .svg {
  margin-right: 4px;
}
#card-2 .second-thing .number {
  font-weight: 800;
  color: #fff;
}
#card-2 .second-thing .desktop:after {
  font-size: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  content: "|";
  width: 25px;
  height: max-content;
}
#card-2 #mobile-chart {
  object-fit: cover;
  object-position: -50px 40px;
  width: 670px;
  height: 130px;
  transition: 300ms ease;
  overflow: visible;
}

.card:hover .first-thing {
  transform: translateX(-150px);
  opacity: 0;
}

.card:hover .second-thing {
  transform: translateX(-88px);
}

#card-2:hover .second-thing {
  opacity: 1;
}

#card-2:hover #mobile-chart {
  object-fit: cover;
  object-position: -610px 25px;
  width: 670px;
}

.mb--0-5 {
  margin-bottom: -0.5rem;
}

.absolute {
  position: absolute;
}

#technical {
  padding-bottom: 170px;
  padding-top: 132px;
  position: relative;
}

footer {
  background: radial-gradient(32.81% 53.93% at 50% 0%, rgba(133, 102, 255, 0.0392156863), rgba(133, 102, 255, 0) 100%, rgba(133, 102, 255, 0));
}
footer .footer-top, footer .footer-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
}
footer .footer-top::before {
  background: radial-gradient(50% 56400% at 50% 100%, rgba(169, 163, 194, 0.2392156863), rgba(169, 163, 194, 0));
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}
footer .footer-top {
  display: flex;
  justify-content: space-between;
  padding: 88px 0 64px;
  position: relative;
}
footer .footer-top .top svg {
  height: 24px;
  margin-bottom: 18px;
  width: 82.29px;
}
footer .footer-top .description {
  margin-bottom: 32px;
  font-family: Inter V, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-feature-settings: "cv06" on, "calt" off, "liga" off;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 24px;
  max-width: 250px;
}
footer .footer-top .glowing-box {
  isolation: isolate;
  overflow: hidden;
  border-radius: 999px;
  display: inline-block;
  position: relative;
}
footer .footer-top .glowing-box-animations {
  opacity: 0;
  pointer-events: none;
  transition: 1sease opacity;
}
footer .footer-top .glowing-box-active .glowing-box-animations, footer .footer-top .glowing-box-active .glowing-box-borders-masker {
  opacity: 1;
}
footer .footer-top .glowing-box-animations, footer .footer-top .glowing-box-borders {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
footer .footer-top .glowing-box-glow {
  filter: blur(8px);
  opacity: 0.12;
}
footer .footer-top .glowing-box-borders, footer .footer-top .glowing-box-glow, footer .footer-top .glowing-box-stars {
  animation: borderTurn var(--animation-speed) infinitelinear;
  background-image: conic-gradient(from 0 at 50% 50%, rgba(255, 255, 255, 0.5019607843), rgba(255, 255, 255, 0) 60deg, rgba(255, 255, 255, 0) 310deg, rgba(255, 255, 255, 0.5019607843) 360deg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer .footer-top .glowing-box-animations * {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
footer .footer-top .glowing-box-stars-masker {
  -webkit-mask: url("data:image/svg+xml,%3Csvg width='28' height='24' viewBox='0 0 28 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.0534 15.732C13.8444 15.283 14.2848 14.8489 14.7326 15.051C14.8296 15.0959 14.9043 15.1707 14.949 15.268C15.1506 15.717 14.7177 16.1511 14.2698 15.949C14.1728 15.9041 14.0982 15.8293 14.0534 15.732Z' fill='black'/%3E%3Cpath d='M18.8001 13.5093C19.0016 13.0603 18.5687 12.6263 18.1209 12.8283C18.0239 12.8732 17.9492 12.9481 17.9045 13.0453C17.6955 13.4944 18.1358 13.9284 18.5837 13.7264C18.6807 13.6815 18.7553 13.6066 18.8001 13.5093Z' fill='black'/%3E%3Cpath d='M0.949043 2.732C1.15057 2.28297 0.717663 1.84891 0.269836 2.05097C0.172806 2.09587 0.098162 2.17071 0.0533793 2.268C-0.155607 2.71703 0.284759 3.15109 0.732587 2.94903C0.829616 2.90413 0.90426 2.82929 0.949043 2.732Z' fill='black'/%3E%3Cpath d='M26.9489 7.732C27.151 7.28297 26.7169 6.84891 26.2679 7.05097C26.1706 7.09587 26.0958 7.17071 26.0508 7.268C25.8488 7.71703 26.2828 8.15109 26.7319 7.94903C26.8292 7.90413 26.904 7.82929 26.9489 7.732Z' fill='black'/%3E%3Cpath d='M13.0534 5.732C12.8444 5.28297 13.2848 4.84891 13.7326 5.05097C13.8296 5.09587 13.9043 5.17071 13.949 5.268C14.1506 5.71703 13.7177 6.15109 13.2698 5.94903C13.1728 5.90413 13.0982 5.82929 13.0534 5.732Z' fill='black'/%3E%3Cpath d='M10.0534 17.732C9.84439 17.283 10.2848 16.8489 10.7326 17.051C10.8296 17.0959 10.9043 17.1707 10.949 17.268C11.1506 17.717 10.7177 18.1511 10.2698 17.949C10.1728 17.9041 10.0982 17.8293 10.0534 17.732Z' fill='black'/%3E%3Cpath d='M15.0534 21.732C14.8444 21.283 15.2848 20.8489 15.7326 21.051C15.8296 21.0959 15.9043 21.1707 15.949 21.268C16.1506 21.717 15.7177 22.1511 15.2698 21.949C15.1728 21.9041 15.0982 21.8293 15.0534 21.732Z' fill='black'");
  mask: url("data:image/svg+xml,%3Csvg width='28' height='24' viewBox='0 0 28 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.0534 15.732C13.8444 15.283 14.2848 14.8489 14.7326 15.051C14.8296 15.0959 14.9043 15.1707 14.949 15.268C15.1506 15.717 14.7177 16.1511 14.2698 15.949C14.1728 15.9041 14.0982 15.8293 14.0534 15.732Z' fill='black'/%3E%3Cpath d='M18.8001 13.5093C19.0016 13.0603 18.5687 12.6263 18.1209 12.8283C18.0239 12.8732 17.9492 12.9481 17.9045 13.0453C17.6955 13.4944 18.1358 13.9284 18.5837 13.7264C18.6807 13.6815 18.7553 13.6066 18.8001 13.5093Z' fill='black'/%3E%3Cpath d='M0.949043 2.732C1.15057 2.28297 0.717663 1.84891 0.269836 2.05097C0.172806 2.09587 0.098162 2.17071 0.0533793 2.268C-0.155607 2.71703 0.284759 3.15109 0.732587 2.94903C0.829616 2.90413 0.90426 2.82929 0.949043 2.732Z' fill='black'/%3E%3Cpath d='M26.9489 7.732C27.151 7.28297 26.7169 6.84891 26.2679 7.05097C26.1706 7.09587 26.0958 7.17071 26.0508 7.268C25.8488 7.71703 26.2828 8.15109 26.7319 7.94903C26.8292 7.90413 26.904 7.82929 26.9489 7.732Z' fill='black'/%3E%3Cpath d='M13.0534 5.732C12.8444 5.28297 13.2848 4.84891 13.7326 5.05097C13.8296 5.09587 13.9043 5.17071 13.949 5.268C14.1506 5.71703 13.7177 6.15109 13.2698 5.94903C13.1728 5.90413 13.0982 5.82929 13.0534 5.732Z' fill='black'/%3E%3Cpath d='M10.0534 17.732C9.84439 17.283 10.2848 16.8489 10.7326 17.051C10.8296 17.0959 10.9043 17.1707 10.949 17.268C11.1506 17.717 10.7177 18.1511 10.2698 17.949C10.1728 17.9041 10.0982 17.8293 10.0534 17.732Z' fill='black'/%3E%3Cpath d='M15.0534 21.732C14.8444 21.283 15.2848 20.8489 15.7326 21.051C15.8296 21.0959 15.9043 21.1707 15.949 21.268C16.1506 21.717 15.7177 22.1511 15.2698 21.949C15.1728 21.9041 15.0982 21.8293 15.0534 21.732Z' fill='black'");
  -webkit-mask-repeat: repeat;
  mask-repeat: repeat;
  -webkit-mask-size: auto;
  mask-size: auto;
}
footer .footer-top .glowing-box-active .glowing-box-animations, footer .footer-top .glowing-box-active .glowing-box-borders-masker {
  opacity: 1;
}
footer .footer-top .glowing-box-borders {
  animation-name: borderTurnWithTranslate;
}
@keyframes borderTurnWithTranslate {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes borderTurn {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
footer .footer-top .glowing-box-animations:before, footer .footer-top .glowing-box-borders:before {
  content: "";
  float: left;
  padding-top: 100%;
}
footer .footer-top .glowing-box-animations:after, footer .footer-top .glowing-box-borders:after {
  clear: both;
  content: "";
  display: block;
}
footer .footer-top .footer .glowing-box-button {
  background-color: transparent;
}
footer .footer-top .glowing-box-button {
  background: radial-gradient(107.5% 107.5% at 50% 215%, rgba(255, 255, 255, 0.2392156863), rgba(255, 255, 255, 0)), rgba(255, 255, 255, 0.0392156863);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 999px;
  cursor: pointer;
  padding: 7px 24px;
  position: relative;
  z-index: 1;
  font-feature-settings: "cv06" on, "calt" off, "liga" off;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 24px;
  color: #fff;
}
footer .footer-top .glowing-box-active, footer .footer-top .glowing-box-button {
  width: 100%;
}
footer .footer-top .glowing-box-borders-masker {
  border-radius: 999px;
  content: "";
  height: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: xor;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 0;
  padding: 1px;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: 1sease opacity;
  width: 100%;
}
footer .footer-top .glowing-box-button:after {
  background: radial-gradient(85% 120% at 50% 120%, rgba(255, 255, 255, 0.2392156863), rgba(255, 255, 255, 0));
  border-radius: 999px;
  content: "";
  height: calc(100% + 4px);
  left: -2px;
  opacity: 0;
  position: absolute;
  top: -2px;
  transition: 1s all;
  width: calc(100% + 4px);
}
footer .footer-top .right .footer-contact-inner {
  background: radial-gradient(67.49% 100% at 50% 0%, rgba(255, 255, 255, 0.0784313725), rgba(255, 255, 255, 0)), rgba(255, 255, 255, 0.0196078431);
  border-radius: 16px;
  height: 100%;
  padding: 28px;
  position: relative;
  width: 264px;
}
footer .footer-top .right .footer-contact-inner-grid {
  height: auto;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 248px;
  z-index: -1;
}
footer .footer-top .right .footer-contact-inner-title {
  background: text-gradient(linear-gradient(180deg, #fff 22.5%, rgba(255, 255, 255, 0.7) 100%));
  font-family: Rebond Grotesque;
  font-feature-settings: "ss03" on, "ss14" on, "ss01" on, "cv01" on, "salt" on;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 8px;
}
footer .footer-top .right .footer-contact-inner-description {
  color: #9b96b0;
}
footer .footer-top .right .footer-copyright, footer .footer-top .right .footer-contact-inner-description {
  font-feature-settings: "cv06" on, "calt" off, "liga" off;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 24px;
}
footer .footer-top .right nav {
  display: flex;
  align-items: flex-start;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  flex-direction: column;
  gap: 0;
  margin-bottom: 24px;
  margin-top: 48px;
  width: 100%;
}
footer .footer-top .right .nav-group {
  gap: 0;
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}
footer .footer-top .right .nav-group details {
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  padding: 0 8px;
  transition: 2.5s ease;
}
footer .footer-top .right .nav-group summary {
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 8px;
  pointer-events: all;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-top .right .nav-group summary h2 {
  font-size: 16px;
  line-height: 24px;
  color: #9b96b0;
  text-transform: uppercase;
}
footer .footer-top .right .nav-group summary span {
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer-top .right .nav-group ul {
  gap: 12px;
  margin-top: 0;
  overflow: hidden;
  transition: all 0.4s ease;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 0;
}
footer .footer-top .right .nav-group li {
  list-style: none;
}
footer .footer-top .right .nav-group li a {
  font-size: 14px;
  color: #676182;
  text-decoration: none;
  transition: 100ms ease;
}
footer .footer-top .right .nav-group li a:hover {
  color: #d2d0dd;
}
footer .footer-bottom {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-top: 2rem;
  color: #9b96b0;
  font-size: 14px;
}
footer .footer-bottom ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
}
footer .footer-bottom svg {
  color: #9b96b0;
}

@media screen and (min-width: 1128px) {
  footer {
    width: 1128px;
  }
  footer .footer-top, footer .footer-bottom {
    flex-direction: row;
  }
  footer .footer-top .right nav .nav-group h2 {
    text-transform: none;
    line-height: 0;
    margin-bottom: 24px;
  }
  footer .footer-bottom {
    justify-content: space-between;
  }
  footer .footer-top .right nav .nav-group svg {
    display: none;
  }
  footer .footer-top .right nav .nav-group details summary {
    padding: 0;
  }
  footer .footer-top .right nav {
    border: none;
  }
  footer .footer-top .right {
    flex-direction: row;
  }
  footer .footer-top {
    align-items: start;
  }
  footer .footer-top .right nav .nav-group details {
    border: none;
  }
  footer .footer-top .right nav {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  footer .footer-top .right {
    padding: 0;
    display: flex;
    flex-direction: row;
    width: max-content;
  }
  footer .footer-top .right nav {
    width: 504px;
  }
  .glowing-box-active {
    width: 100px;
  }
  footer .footer-top button {
    width: max-content;
  }
  footer .footer-top .right nav .nav-group h2 {
    color: #fff;
    font-family: "Inter V", sans-serif;
    font-size: 14px;
  }
}
@media screen and (min-width: 1248px) {
  body {
    font-family: "Inter V", sans-serif;
  }
  .cards {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card {
    width: 398px;
  }
  main, header {
    width: 1248px;
  }
  .not-button {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.08em;
    line-height: 24px;
  }
  #cards-section-title {
    font-size: 56px;
    line-height: 64px;
    width: 600px;
    margin-top: 20px;
  }
  #cards-video {
    width: 100%;
    margin-bottom: -7rem;
  }
  .magical-borders-inner {
    position: absolute;
  }
}

/*# sourceMappingURL=style.css.map */
